language: ruby
rvm:
  - "2.5.3"

branches:
  only:
    - "master"

services:
  - postgresql

cache:
  bundler: true
  yarn: true
  directories:
    - node_modules
    - /home/travis/.rvm/
    - vendor/bundle

install:
  - bundle install
  - yarn install

before_script:
  - createdb tudu_testing
  - RAILS_ENV=test bundle exec rake db:migrate

script:
  - rake test
  - npm test
