<!DOCTYPE html>
<html>
    <head>
        <title>Tudu</title>
        <%= csrf_meta_tags %>
        <meta property="apiUrl" content="<%= root_url %>" />
    </head>

    <body>
        <div id="vue-root">
            <div class="page-background">
                <div class="top-bar">
                    <div class="top-bar-inner">
                        <h1>TUDU</h1>
                    </div>
                </div>
                <div class="all-holder">
                    <div class="left-menu">
                        <div class="view-list-container">
                            <view-list
                                :inbox-project="$store.getters.inboxProject"
                                :inbox-project-task-count="$store.getters.inboxProjectTaskCount"
                                :selected-project="$store.getters.activeProject">
                            </view-list>
                        </div>
                        <tab-switcher :tabs="['Projects', 'Labels', 'Filters']">
                            <div class="resource-list-container" slot="Projects">
                                <resource-list
                                    editor-component="project-editor"
                                    scope-type="project"
                                    :resources="$store.getters.projectsWithoutInbox"
                                    :selected-resource="$store.getters.activeProject"
                                    :resource-task-counts="$store.getters.projectTaskCounts">
                                </resource-list>
                            </div>

                            <div class="labels-list-container" slot="Labels">
                                <div style="padding: 20px">
                                    Not implemented yet
                                </div>
                            </div>
                            <div class="filters-list-container" slot="Filters">
                                <div style="padding: 20px">
                                    Not implemented yet
                                </div>
                            </div>
                        </tab-switcher>

                    </div><div class="content">
                        <div class="section-header">
                            <!-- TODO: make this work for labels too? -->
                            <h2 v-text="$store.getters.activeProject.name">
                            </h2>
                        </div>

                        <div>
                            <!-- TODO: Change this to work with multiple scope types! -->
                            <task-list-switcher
                                :tasks="$store.getters.tasksForActiveScope"
                                :project="$store.getters.activeProject">
                            </task-list-switcher>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application' %>
    </body>
</html>
