<!DOCTYPE html>
<html>
    <head>
        <title>Tudu</title>
        <%= csrf_meta_tags %>
        <meta property="apiUrl" content="<%= root_url %>" />
    </head>

    <body>
        <div id="vue-root">
            <div class="page-background">
                <div class="top-bar">
                    <div class="top-bar-inner">
                        <h1>TUDU</h1>
                    </div>
                </div>
                <div class="all-holder">
                    <div class="left-menu">
                        <div class="view-list-container">
                            <view-list
                                :inbox-project="$store.getters.inboxProject"
                                :inbox-project-task-count="$store.getters.inboxProjectTaskCount"
                                :selected-project-id="$store.getters.activeProjectId">
                            </view-list>
                        </div>
                        <tab-switcher :tabs="['Projects', 'Labels', 'Filters']">
                            <div class="resource-list-container project-list-container" slot="Projects">
                                <resource-list
                                    editor-component="project-editor"
                                    scope-type="project"
                                    :resources="$store.getters.projectsWithoutInbox"
                                    :selected-resource="$store.getters.activeProject"
                                    :resource-task-counts="$store.getters.projectTaskCounts"
                                    :resource-actions="{
                                        reorder: 'reorderProjects',
                                        delete: 'deleteProject'
                                    }">

                                    <template scope="props" slot="icon">
                                        <span
                                            class="project-icon"
                                            :style="{ 'background-color': '#' + props.resource.colorHex }">
                                        </span>
                                    </template>
                                </resource-list>
                            </div>

                            <div class="resource-list-container label-list-container" slot="Labels">
                                <resource-list
                                    editor-component="label-editor"
                                    scope-type="label"
                                    :resources="$store.state.labels"
                                    :selected-resource="$store.getters.activeLabel"
                                    :resource-task-counts="$store.getters.labelTaskCounts"
                                    :resource-actions="{
                                        reorder: 'reorderLabels',
                                        delete: 'deleteLabel'
                                    }">
                                    <template scope="props" slot="icon">
                                        <i class="fa fa-tag label-icon"
                                           :style="{'color': '#' + props.resource.colorHex}">
                                        </i>
                                    </template>
                                </resource-list>
                            </div>
                            <div class="filters-list-container" slot="Filters">
                                <div style="padding: 20px">
                                    Not implemented yet
                                </div>
                            </div>
                        </tab-switcher>

                    </div><div class="content">
                        <div class="section-header">
                            <!-- TODO: make this work for labels too? -->
                            <h2 v-text="$store.getters.activeScopeName">
                            </h2>
                        </div>

                        <div>
                            <!-- TODO: Change this to work with multiple scope types! -->
                            <task-list-switcher
                                :tasks="$store.getters.tasksForActiveScope"
                                :scope="$store.state.activeScope">
                            </task-list-switcher>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application' %>
    </body>
</html>
