<!DOCTYPE html>
<html>
  <head>
    <title>Tudu</title>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
